input.preset {
  height: 50px;
  width: 50px;
  font-weight: solid;
  font-size: 24px;
  text-align: center;
}

button{
  min-width: 160px;
  max-width: 160px;
}

input {
  height: 50px;
  width: 50px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: orange;
}

body{
  background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
