input {
  height: 50px;
  width: 50px;
  font-weight: solid;
  font-size: 24px;
  text-align: center;
  border-width: 1px;

}
button{
  min-width: 160px;
  max-width: 160px;

}
.preset {
  font-weight: bold;
  color: orange;

}
.square {
  color: black;

}
body {
  background-repeat: no-repeat;
   /*-webkit-background-size: cover;
   -moz-background-size: cover;*/
   /*-o-background-size: cover;*/
   /*background-size: cover;*/
   margin: 50px;

 }

.square:hover {
   background: green;
 }

#title {
  font-size: 95px;
  font-family: Jazz LET, fantasy;
  font-weight: bold;

}
.bottom-border {
border-bottom:2pt solid black;

}
.right-border {
border-right:2pt solid black;

/*table {
  border-collapse: unset;
}*/
